<div id="<%= dom_id sales_report %>">
  <p>
    <strong>Establishment:</strong>
    <%= sales_report.establishment_id %>
  </p>

  <p>
    <strong>Report date:</strong>
    <%= sales_report.report_date %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= sales_report.data %>
  </p>

</div>
