<div id="<%= dom_id categorium %>">
  <p>
    <strong>Estabelecimento:</strong>
    <%= categorium.estabelecimento_id %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= categorium.nome %>
  </p>

</div>
