<div id="<%= dom_id promotion_product %>">
  <p>
    <strong>Promotion:</strong>
    <%= promotion_product.promotion_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= promotion_product.product_id %>
  </p>

</div>
