<% content_for :title, "Editing promocao" %>

<h1>Editing promocao</h1>

<%= render "form", promocao: @promocao %>

<br>

<div>
  <%= link_to "Show this promocao", @promocao %> |
  <%= link_to "Back to promocaos", promocaos_path %>
</div>
