<div id="<%= dom_id avaliacao %>">
  <p>
    <strong>Produto:</strong>
    <%= avaliacao.produto_id %>
  </p>

  <p>
    <strong>Nota:</strong>
    <%= avaliacao.nota %>
  </p>

  <p>
    <strong>Comentario:</strong>
    <%= avaliacao.comentario %>
  </p>

</div>
