<% content_for :title, "Editing estabelecimento" %>

<h1>Editing estabelecimento</h1>

<%= render "form", estabelecimento: @estabelecimento %>

<br>

<div>
  <%= link_to "Show this estabelecimento", @estabelecimento %> |
  <%= link_to "Back to estabelecimentos", estabelecimentos_path %>
</div>
