<% content_for :title, "New estabelecimento" %>

<h1>New estabelecimento</h1>

<%= render "form", estabelecimento: @estabelecimento %>

<br>

<div>
  <%= link_to "Back to estabelecimentos", estabelecimentos_path %>
</div>
