<div id="<%= dom_id relatorio_de_venda %>">
  <p>
    <strong>Estabelecimento:</strong>
    <%= relatorio_de_venda.estabelecimento_id %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= relatorio_de_venda.data %>
  </p>

  <p>
    <strong>Dados:</strong>
    <%= relatorio_de_venda.dados %>
  </p>

</div>
