<% content_for :title, "Editing relatorio de venda" %>

<h1>Editing relatorio de venda</h1>

<%= render "form", relatorio_de_venda: @relatorio_de_venda %>

<br>

<div>
  <%= link_to "Show this relatorio de venda", @relatorio_de_venda %> |
  <%= link_to "Back to relatorio de vendas", relatorio_de_vendas_path %>
</div>
